.circleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 35px;
    line-height: 50px;
}
.singleToDo{
    position: relative;
    border: 1px solid;
    padding: 5px    ;
}
.toDoTitle{
    text-align: center;
}
.toDoDate{
    align-self: flex-start;
    width: 100px;
    text-align: center;
    font-size: 11px;
    color: gray;
}
.checkbox{
    position: absolute;
    top: 0;
    right: 5px;
}
.deleteButtonCont{
    margin-top: 30px;
    text-align: right;
}
.selected{
    border-color: #ff0000 !important;
}
.cardHeight{
    height: 100%;
}
.cardHeight .card-body{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.cardHeight .card-footer{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}